@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
h1{
    color: #608e9e;
    font-weight: bold;
    /*font-weight: 900;*/
    position: absolute;
    /*width: 700px;*/
    /*height: 275px;*/
    left: 450px;
    /*margin-right: 600px;*/
    /*margin-left:  600px;*/
    top: 600px;
}
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
p {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    margin-right: 600px;
    margin-left: 600px;
    position: absolute;
    top: 500px;
}
.sectionimage {
    background:;
    padding: 0px;
    /*width: 1728px;*/
    max-width: 100%;
    position: absolute;
    top: 350px;
} 
.slidebar {
    /*background: blue;*/
    padding: 0px;
    /*width: 1700px;*/
    max-width: 100%;
    height: 200px;
    position: absolute;
    bottom:  -675px;
} 
img {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0px;

        
}
.slidecontainer {
    margin-top: 10px;
    position: relative;
}
.slider-range {
    width: 100%;
    position: relative;
}
.range-number {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
    margin-bottom: 15px;
    position: relative;
}
.phide {
    display: none;
}
