h1{
  color: darkred;
  font-weight: 900;
}
h2{
  color: darkred;
  margin-left: 100px;
}
body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
p{
  color: whitesmoke;
  margin-right: 300px;
  margin-left: 100px;
}
nav {
  list-style-type: none;
  margin-left: 100px;
  display: block;
  font-weight: 600;
}
div {
  display:inline;
  margin:1rem;
  padding:1rem;
  color: whitesmoke;
  border: solid 1px whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}
.on {
  background-color:blue;
}