h1{
  color: darkred;
  font-weight: 900;
}
h2{
  color: darkred;
  margin-left: 100px;
}
body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
p{
  color: whitesmoke;
  margin-right: 300px;
  margin-left: 100px;
}
nav {
  list-style-type: none;
  margin-left: 100px;
  display: block;
  font-weight: 600;
}
.button {
  background-color: darkred;
}
.light {
  background-color: whitesmoke;
}

.light p{
    color:  black;
  }
.light h1{
    color:  black;
  }
.light h2{
    color:  black;
  }
