body {
  background-color: #453B3B;
  max-height: 100%;
}
h1{
  position: fixed;
  top: 50px;
  left: 100px;
  color: black;
}
h2{
  position: fixed;
  bottom: 10px;
  right: 28px;
  color: white;
  /*background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  opacity: 0.8;*/
}
.button1 {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-decoration-line: none;
}
.button1:hover {
        cursor: pointer;
        background: ;
}
.button2 {
  position: fixed;
  top: 285px;
  left: 350px;
  text-decoration-line: none;
}
.button2:hover {
        cursor: pointer;
        background: ;
}
.button4 {
  position: fixed;
  top: 315px;
  left: 350px;
  text-decoration-line: none;
}
.button4:hover {
        cursor: pointer;
        background: ;
}
.button3 {
  position: fixed;
  top: 285px;
  left: 350px;
  text-decoration-line: none;
}
.button3:hover {
        cursor: pointer;
        background: ;
}
.button5 {
  position: fixed;
  top: 315px;
  left: 350px;
  text-decoration-line: none;
  background-color: #453B3B;
  color: white;
  border-radius: 2px
}
.button5:hover {
        cursor: pointer;
        background:;
}
.button6 {
  position: fixed;
  top: 285px;
  left: 350px;
  text-decoration-line: none;
}
.button6:hover {
        cursor: pointer;
        background: ;
}
.button7 {
  position: fixed;
  top: 315px;
  left: 350px;
  text-decoration-line: none;
}
.button7:hover {
        cursor: pointer;
        background: ;
}
    .comment-section{
        max-height: 25vh;
        max-width: 100%;
        background-color: #3f3f3f;
        overflow-y:scroll;
    }
    .comment{
        height: 20%;
        padding: 10%;
        margin: 5%;
        background-color: #ffff;
        color: black;
    }

.container {
  width: 225px;
  height: 200px;
  position: fixed;
  top: 125px;
  left: 100px;
  opacity: 0.8;
}
.form-input{
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 0.5em;
  outline: none;
  padding-left: 1em;
}
.form-input:hover {
        cursor: text;
        background: ;
}



